// COLORS
$primary-color:  #43312D;
$secondary-color: #A38B76;

$brown-color: #A2816D;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #1F1E18; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
